body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:80px;
  width:375px;
  height:812px;
  display:flex;
}
#u8682 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:80px;
  width:375px;
  height:812px;
  display:flex;
}
#u8683 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:637px;
  width:0px;
  height:0px;
}
#u8684_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:70px;
  height:10px;
}
#u8684_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-156px;
  width:10px;
  height:161px;
}
#u8684_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-156px;
  width:70px;
  height:10px;
}
#u8684_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-161px;
  width:20px;
  height:20px;
}
#u8684_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:279px;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:497px;
  width:246px;
  height:279px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u8685 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:167px;
  width:0px;
  height:0px;
}
#u8686_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:324px;
}
#u8686_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:314px;
  width:433px;
  height:10px;
}
#u8686_seg2 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:309px;
  width:20px;
  height:20px;
}
#u8686_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:311px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:123px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u8687 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:80px;
  width:375px;
  height:812px;
  display:flex;
}
#u8688 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:30px;
  width:96px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:30px;
  width:48px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:167px;
  width:0px;
  height:0px;
}
#u8691_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:1234px;
}
#u8691_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1224px;
  width:341px;
  height:10px;
}
#u8691_seg2 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1219px;
  width:20px;
  height:20px;
}
#u8691_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:774px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:44px;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:123px;
  width:123px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u8692 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:990px;
  width:375px;
  height:812px;
  display:flex;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:944px;
  width:72px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:1079px;
  width:0px;
  height:0px;
}
#u8695_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u8695_seg1 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:6px;
  width:292px;
  height:10px;
}
#u8695_seg2 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:-190px;
  width:10px;
  height:206px;
}
#u8695_seg3 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:-195px;
  width:20px;
  height:20px;
}
#u8695_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u8696 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:1035px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u8696 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1079px;
  width:0px;
  height:0px;
}
#u8697_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u8697_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:6px;
  width:126px;
  height:10px;
}
#u8697_seg2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-187px;
  width:10px;
  height:203px;
}
#u8697_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-192px;
  width:20px;
  height:20px;
}
#u8697_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u8698 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:1035px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u8698 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
