body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1169px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:868px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:58px;
  width:430px;
  height:868px;
  display:flex;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:372px;
  width:0px;
  height:0px;
}
#u1210_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:79px;
  height:10px;
}
#u1210_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-5px;
  width:10px;
  height:131px;
}
#u1210_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:116px;
  width:79px;
  height:10px;
}
#u1210_seg3 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:111px;
  width:20px;
  height:20px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:352px;
  width:119px;
  height:39px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:96px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1212 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:20px;
  width:96px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:959px;
  width:375px;
  height:812px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:653px;
  width:0px;
  height:0px;
}
#u1215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u1215_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:722px;
}
#u1215_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:707px;
  width:65px;
  height:10px;
}
#u1215_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:702px;
  width:20px;
  height:20px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:356px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:624px;
  width:55px;
  height:57px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u1216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:325px;
  width:0px;
  height:0px;
}
#u1217_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-25px;
  width:10px;
  height:25px;
}
#u1217_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-25px;
  width:234px;
  height:10px;
}
#u1217_seg2 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-44px;
  width:10px;
  height:29px;
}
#u1217_seg3 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-44px;
  width:20px;
  height:10px;
}
#u1217_seg4 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-39px;
  width:10px;
  height:5px;
}
#u1217_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u1217_seg6 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-49px;
  width:18px;
  height:18px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:279px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:279px;
  width:1px;
  height:14px;
  display:flex;
}
#u1220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:870px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:58px;
  width:438px;
  height:870px;
  display:flex;
}
#u1221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
