body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u23625 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1500px;
  height:1718px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u23625 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u23625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23626 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:142px;
  width:600px;
  height:1544px;
}
#u23627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:44px;
}
#u23627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:44px;
  display:flex;
  text-align:center;
}
#u23627 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1500px;
}
#u23628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:600px;
  height:1500px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u23628 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23629 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u23629 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23630 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23630_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u23630_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23630_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23631 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u23631 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23632 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23632_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u23632_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23632_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23633 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:778px;
  width:100px;
  height:60px;
  display:flex;
}
#u23633 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23634 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:704px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23634_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u23634_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u23634_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:104px;
}
#u23635 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:914px;
  width:192px;
  height:104px;
  display:flex;
}
#u23635 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23636 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:808px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23636_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:572px;
  height:10px;
}
#u23636_seg1 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:-5px;
  width:10px;
  height:111px;
}
#u23636_seg2 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:91px;
  width:20px;
  height:20px;
}
#u23636_text {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u23637 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:795px;
  width:25px;
  height:27px;
  display:flex;
}
#u23637 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23638 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:936px;
  width:100px;
  height:60px;
  display:flex;
}
#u23638 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23639 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:966px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u23639_seg0 {
  border-width:0px;
  position:absolute;
  left:-471px;
  top:-5px;
  width:476px;
  height:10px;
}
#u23639_seg1 {
  border-width:0px;
  position:absolute;
  left:-476px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23639_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u23640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23640 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1105px;
  width:100px;
  height:60px;
  display:flex;
}
#u23640 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23641 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:1018px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23641_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:122px;
}
#u23641_seg1 {
  border-width:0px;
  position:absolute;
  left:-567px;
  top:112px;
  width:572px;
  height:10px;
}
#u23641_seg2 {
  border-width:0px;
  position:absolute;
  left:-572px;
  top:107px;
  width:20px;
  height:20px;
}
#u23641_text {
  border-width:0px;
  position:absolute;
  left:-275px;
  top:109px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23642 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1165px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23642_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:125px;
}
#u23642_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:105px;
  width:20px;
  height:20px;
}
#u23642_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23643 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1285px;
  width:100px;
  height:60px;
  display:flex;
}
#u23643 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:59px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u23645 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1500px;
  height:59px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u23645 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u23645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u23646 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:207px;
  width:150px;
  height:90px;
  display:flex;
}
#u23646 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23647 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u23647_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:144px;
  height:10px;
}
#u23647_seg1 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23647_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u23648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23648 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u23648 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
