body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18305 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1500px;
  height:1718px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u18305 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18306 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:142px;
  width:600px;
  height:1544px;
}
#u18307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:44px;
}
#u18307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:44px;
  display:flex;
  text-align:center;
}
#u18307 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1500px;
}
#u18308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:600px;
  height:1500px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u18308 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u18309 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u18309 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18310 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18310_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u18310_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18310_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18311 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u18311 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18312 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18312_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u18312_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18312_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18313 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:778px;
  width:100px;
  height:60px;
  display:flex;
}
#u18313 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18314 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:704px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18314_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u18314_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u18314_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:104px;
}
#u18315 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:914px;
  width:192px;
  height:104px;
  display:flex;
}
#u18315 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18316 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:808px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18316_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:572px;
  height:10px;
}
#u18316_seg1 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:-5px;
  width:10px;
  height:111px;
}
#u18316_seg2 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:91px;
  width:20px;
  height:20px;
}
#u18316_text {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u18317 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:795px;
  width:25px;
  height:27px;
  display:flex;
}
#u18317 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18318 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:936px;
  width:100px;
  height:60px;
  display:flex;
}
#u18318 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18319 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:966px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u18319_seg0 {
  border-width:0px;
  position:absolute;
  left:-471px;
  top:-5px;
  width:476px;
  height:10px;
}
#u18319_seg1 {
  border-width:0px;
  position:absolute;
  left:-476px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18319_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u18320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18320 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1105px;
  width:100px;
  height:60px;
  display:flex;
}
#u18320 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18321 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:1018px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18321_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:122px;
}
#u18321_seg1 {
  border-width:0px;
  position:absolute;
  left:-567px;
  top:112px;
  width:572px;
  height:10px;
}
#u18321_seg2 {
  border-width:0px;
  position:absolute;
  left:-572px;
  top:107px;
  width:20px;
  height:20px;
}
#u18321_text {
  border-width:0px;
  position:absolute;
  left:-275px;
  top:109px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18322 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1165px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18322_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:125px;
}
#u18322_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:105px;
  width:20px;
  height:20px;
}
#u18322_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u18323 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1285px;
  width:100px;
  height:60px;
  display:flex;
}
#u18323 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:59px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u18325 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1500px;
  height:59px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u18325 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u18326 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:207px;
  width:150px;
  height:90px;
  display:flex;
}
#u18326 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18327 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u18327_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:144px;
  height:10px;
}
#u18327_seg1 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18327_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u18328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18328 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:222px;
  width:100px;
  height:60px;
  display:flex;
}
#u18328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
