body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:1190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5093 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1520px;
  height:1190px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5093 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1190px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u5094 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:200px;
  height:1190px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u5094 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
#u5094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5097 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u5097_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5097.mouseOver {
}
#u5097_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5097.selected {
}
#u5097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:60px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5098 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u5098_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5098.mouseOver {
}
#u5098_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5098.selected {
}
#u5098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:160px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5099 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u5099_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5099.mouseOver {
}
#u5099_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5099.selected {
}
#u5099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:210px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u5100_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5100.mouseOver {
}
#u5100_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u5100.selected {
}
#u5100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:40px;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:40px;
  width:1220px;
  height:80px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:40px;
}
#u5101 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5101_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:40px;
}
#u5101.selected {
}
#u5101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:122px;
  width:1220px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u5102 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5102_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u5102.selected {
}
#u5102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5103 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:65px;
  width:90px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u5103 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5103_img.mouseOver {
}
#u5103.mouseOver {
}
#u5103_img.mouseDown {
}
#u5103.mouseDown {
}
#u5103_img.disabled {
}
#u5103.disabled {
  opacity:0.7;
}
#u5103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:176px;
  width:1060px;
  height:983px;
}
#u5105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5105 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:45px;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:589px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:0px;
  width:171px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5107 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:200px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5109 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:45px;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:589px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u5110 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:45px;
  width:171px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u5111 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:45px;
  width:200px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5113 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:43px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5114 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:43px;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:589px;
  height:43px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u5115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:43px;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:90px;
  width:171px;
  height:43px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u5116 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:90px;
  width:200px;
  height:43px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5117 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:450px;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:100px;
  height:450px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5118 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:450px;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:133px;
  width:589px;
  height:450px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u5119 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:450px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:133px;
  width:171px;
  height:450px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u5120 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:450px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:133px;
  width:200px;
  height:450px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5122 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:400px;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:583px;
  width:100px;
  height:400px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5123 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:400px;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:583px;
  width:589px;
  height:400px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u5124 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:400px;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:583px;
  width:171px;
  height:400px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u5125 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:400px;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:583px;
  width:200px;
  height:400px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u5127 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
