body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1554px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:403px;
}
#u26408 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:100px;
  width:270px;
  height:403px;
  display:flex;
}
#u26408 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:560px;
}
#u26409 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:100px;
  width:375px;
  height:560px;
  display:flex;
}
#u26409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:512px;
}
#u26410 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:100px;
  width:375px;
  height:512px;
  display:flex;
}
#u26410 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:643px;
}
#u26411 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:643px;
  display:flex;
}
#u26411 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
