body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1171px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u5091 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:812px;
  display:flex;
}
#u5091 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u5092 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:20px;
  width:375px;
  height:812px;
  display:flex;
}
#u5092 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u5093 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u5093 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5094 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:887px;
  width:0px;
  height:0px;
}
#u5094_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u5094_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:19px;
  width:80px;
  height:10px;
}
#u5094_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:24px;
  width:10px;
  height:5px;
}
#u5094_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u5094_seg4 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:14px;
  width:18px;
  height:18px;
}
#u5094_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5096 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:904px;
  width:526px;
  height:135px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u5096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:904px;
  width:1px;
  height:14px;
  display:flex;
}
#u5097 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:870px;
  width:28px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
#u5099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:869px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:870px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
#u5101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:869px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5103 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:870px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
#u5103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:869px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
}
#u5105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Brands Bold', 'Font Awesome 5 Brands Regular', 'Font Awesome 5 Brands', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
  text-align:center;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:869px;
  width:23px;
  height:22px;
  display:flex;
  font-family:'Font Awesome 5 Brands Bold', 'Font Awesome 5 Brands Regular', 'Font Awesome 5 Brands', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#7F7F7F;
  text-align:center;
}
#u5106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:870px;
  width:28px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
#u5107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:195px;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:981px;
  width:468px;
  height:195px;
  display:flex;
}
#u5108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
