body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1360px;
}
#u25975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1360px;
  display:flex;
}
#u25975 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25976 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:175px;
  width:0px;
  height:0px;
}
#u25976_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u25976_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:40px;
  width:42px;
  height:10px;
}
#u25976_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:45px;
  width:10px;
  height:5px;
}
#u25976_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u25976_seg4 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:35px;
  width:18px;
  height:18px;
}
#u25976_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25978 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:168px;
  width:611px;
  height:245px;
}
#u25978_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:245px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25978_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:219px;
}
#u25980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:609px;
  height:219px;
  display:flex;
}
#u25980 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:105px;
}
#u25981 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:168px;
  width:1px;
  height:104px;
  display:flex;
}
#u25981 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25982 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:354px;
  width:0px;
  height:0px;
}
#u25982_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u25982_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:10px;
  height:5px;
}
#u25982_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u25982_seg3 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-10px;
  width:18px;
  height:18px;
}
#u25982_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25984 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:347px;
  width:158px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u25985 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:347px;
  width:1px;
  height:14px;
  display:flex;
}
#u25985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25986 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:565px;
  width:0px;
  height:0px;
}
#u25986_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-30px;
  width:10px;
  height:30px;
}
#u25986_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-30px;
  width:52px;
  height:10px;
}
#u25986_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-30px;
  width:10px;
  height:35px;
}
#u25986_seg3 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:20px;
  height:10px;
}
#u25986_seg4 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:10px;
  height:5px;
}
#u25986_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u25986_seg6 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-10px;
  width:18px;
  height:18px;
}
#u25986_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25988 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:558px;
  width:108px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u25989 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:558px;
  width:1px;
  height:14px;
  display:flex;
}
#u25989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25990 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:561px;
  width:0px;
  height:0px;
}
#u25990_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u25990_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:10px;
  height:5px;
}
#u25990_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u25990_seg3 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-10px;
  width:18px;
  height:18px;
}
#u25990_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25992 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:554px;
  width:108px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u25992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u25993 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:554px;
  width:1px;
  height:14px;
  display:flex;
}
#u25993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
