body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25942 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:79px;
  width:395px;
  height:695px;
}
#u25942_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:695px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25942_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25943_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:13px;
}
#u25943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:375px;
  height:6px;
  display:flex;
}
#u25943 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:71px;
}
#u25944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:687px;
  width:375px;
  height:71px;
  display:flex;
}
#u25944 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:194px;
}
#u25945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:758px;
  width:375px;
  height:194px;
  display:flex;
}
#u25945 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25946 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:820px;
  width:168px;
  height:32px;
  display:flex;
}
#u25946 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25946_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u25948 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:260px;
  width:45px;
  height:45px;
  display:flex;
}
#u25948 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u25949 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:260px;
  width:98px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u25949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u25950 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:283px;
  width:81px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u25950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 226, 81, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u25951 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:266px;
  width:65px;
  height:25px;
  display:flex;
  color:#000000;
}
#u25951 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25952 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:229px;
  width:300px;
  height:18px;
  display:flex;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:210px;
}
#u25953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:210px;
  display:flex;
}
#u25953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u25954 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:80px;
  width:45px;
  height:50px;
  display:flex;
}
#u25954 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.670588235294118);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25955 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:172px;
  width:79px;
  height:29px;
  display:flex;
  color:#FFFFFF;
}
#u25955 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
}
#u25957 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:332px;
  width:110px;
  height:65px;
  display:flex;
}
#u25957 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25958 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:337px;
  width:236px;
  height:36px;
  display:flex;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u25959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:375px;
  height:1px;
  display:flex;
}
#u25959 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25960 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:382px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25962 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:427px;
  width:236px;
  height:36px;
  display:flex;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u25963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:375px;
  height:1px;
  display:flex;
}
#u25963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
}
#u25964 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:422px;
  width:110px;
  height:65px;
  display:flex;
}
#u25964 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25965 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:472px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25966 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:471px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25967 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:381px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.670588235294118);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u25968 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:377px;
  width:45px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u25968 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.670588235294118);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u25969 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:465px;
  width:45px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u25969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
}
#u25971 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:511px;
  width:110px;
  height:65px;
  display:flex;
}
#u25971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25972 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:516px;
  width:236px;
  height:36px;
  display:flex;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u25973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:585px;
  width:375px;
  height:1px;
  display:flex;
}
#u25973 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25974 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:561px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25976 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:606px;
  width:236px;
  height:36px;
  display:flex;
  font-family:'新宋体 Bold', '新宋体 常规', '新宋体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u25976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u25977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:674px;
  width:375px;
  height:1px;
  display:flex;
}
#u25977 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
}
#u25978 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:601px;
  width:110px;
  height:65px;
  display:flex;
}
#u25978 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25979 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:651px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u25979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25980 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:650px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25981 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:560px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'新宋体 常规', '新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u25981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.670588235294118);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u25982 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:556px;
  width:45px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u25982 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.670588235294118);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u25983 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:644px;
  width:45px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u25983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25985 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:774px;
  width:375px;
  height:75px;
  display:flex;
}
#u25985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u25986 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:782px;
  width:131px;
  height:39px;
  display:flex;
  text-align:left;
}
#u25986 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u25986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u25987 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:786px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-style:normal;
}
#u25987 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#333333;
}
#u25988 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:786px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#333333;
}
#u25988 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-style:normal;
}
#u25989 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:786px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-style:normal;
}
#u25989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(71, 195, 97, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Brands Bold', 'Font Awesome 5 Brands Regular', 'Font Awesome 5 Brands', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25990 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:523px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Font Awesome 5 Brands Bold', 'Font Awesome 5 Brands Regular', 'Font Awesome 5 Brands', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u25993 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  height:62px;
  display:flex;
}
#u25993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u25994 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:30px;
  height:803px;
  display:flex;
}
#u25994 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u25995 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:816px;
  width:373px;
  height:59px;
  display:flex;
}
#u25995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u25996 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:72px;
  width:30px;
  height:803px;
  display:flex;
}
#u25996 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u25998 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:91px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u25998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25998_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u25998.mouseDown {
  opacity:0.8;
}
#u25998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u25999 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:93px;
  width:26px;
  height:26px;
  display:flex;
}
#u25999 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u26000 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:95px;
  width:23px;
  height:23px;
  display:flex;
}
#u26000 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u26001 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:99px;
  width:1px;
  height:15px;
  display:flex;
}
#u26001 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u26003 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:35px;
  width:375px;
  height:44px;
  display:flex;
}
#u26003 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u26005 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:81px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u26005 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 10px 20px;
  box-sizing:border-box;
  width:100%;
}
#u26005_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
#u26005.mouseDown {
  opacity:0.8;
}
#u26005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26006 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:93px;
  width:16px;
  height:16px;
  display:flex;
}
#u26006 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
