body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:808px;
}
#u9114 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:375px;
  height:808px;
  display:flex;
}
#u9114 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9115 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:651px;
  width:0px;
  height:0px;
}
#u9115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:89px;
  height:10px;
}
#u9115_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-171px;
  width:10px;
  height:176px;
}
#u9115_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-171px;
  width:90px;
  height:10px;
}
#u9115_seg3 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-176px;
  width:20px;
  height:20px;
}
#u9115_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:279px;
}
#u9116 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:511px;
  width:246px;
  height:279px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u9116 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:809px;
}
#u9117 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:80px;
  width:375px;
  height:809px;
  display:flex;
}
#u9117 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9118 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:167px;
  width:0px;
  height:0px;
}
#u9118_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:324px;
}
#u9118_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:314px;
  width:433px;
  height:10px;
}
#u9118_seg2 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:309px;
  width:20px;
  height:20px;
}
#u9118_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:311px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u9119 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:123px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u9119 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9120 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:80px;
  width:375px;
  height:812px;
  display:flex;
}
#u9120 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9121 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:30px;
  width:96px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9122 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:30px;
  width:48px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9123 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:167px;
  width:0px;
  height:0px;
}
#u9123_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:1234px;
}
#u9123_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1224px;
  width:341px;
  height:10px;
}
#u9123_seg2 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1219px;
  width:20px;
  height:20px;
}
#u9123_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:774px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:44px;
}
#u9124 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:123px;
  width:123px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u9124 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9125 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:990px;
  width:375px;
  height:812px;
  display:flex;
}
#u9125 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9126 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:944px;
  width:72px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9127 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:1079px;
  width:0px;
  height:0px;
}
#u9127_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u9127_seg1 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:6px;
  width:292px;
  height:10px;
}
#u9127_seg2 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:-190px;
  width:10px;
  height:206px;
}
#u9127_seg3 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:-195px;
  width:20px;
  height:20px;
}
#u9127_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u9128 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:1035px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u9128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9129 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1079px;
  width:0px;
  height:0px;
}
#u9129_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u9129_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:6px;
  width:126px;
  height:10px;
}
#u9129_seg2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-187px;
  width:10px;
  height:203px;
}
#u9129_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-192px;
  width:20px;
  height:20px;
}
#u9129_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u9130 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:1035px;
  width:49px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u9130 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
